:root {
  /* --board-light-square: #ebecd0; */
  --board-light-square: tan;
  /* --board-dark-square: #779556; */
  /* --board-dark-square: #586e40; */
  --board-dark-square: #635147;
  --board-border: #b2b2b2;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

* {
  box-sizing: border-box;
  user-select: none;
}

#coord {
  font-size: 1em;
}

#container {
  display: flex;
  height: min(90vh, 90vw);
  width: min(90vh, 90vw);
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-sizing: border-box;
  /* border: 10px solid; */
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
  /* filter: saturate(0); */
}

.square {
  height: 100%;
  aspect-ratio: 1;
  border: 1px solid #000;
  border: none;
  display: flex;
  align-items: flex-end;
  position: relative;
  font-size: .1em;
}

.square img {
  position: absolute;
  /* margin: auto; */
  width: 100%;
  height: 100%;
  z-index: 10;
}

.white {
  background-color: var(--board-light-square);
}

.black {
  background-color: var(--board-dark-square);
}

#player {
  width: 100%;
  font-size: 2em;
  padding: 0;
  margin: 0;
  color: var(--board-dark-square);
  background-color: var(--board-light-square);
}

.highlight::after {
  content: '';
  position: absolute;

  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: #00000050;
  border-radius: 50%;
}

.highlight:has(img)::after {
  content: '';
  position: absolute;

  top: 3%;
  left: 3%;
  right: 3%;
  bottom: 3%;
  background-color: transparent;
  border: 8px solid #00000075;
  border-radius: 50%;
}

.active::after {
  content: '';
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #88604a;
  /* background-color: #6d3c21; */
}

.w-covered.black:has(img#k1-b)::before,
.b-covered.black:has(img#k1-w)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 3%;
  left: 3%;
  right: 3%;
  bottom: 3%;
  background-color: transparent;
  border: 19px solid rgba(255, 255, 255, 0.7);
  z-index: 2;
  border-radius: 50%;
}

.w-covered.white:has(img#k1-b)::before,
.b-covered.white:has(img#k1-w)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 3%;
  left: 3%;
  right: 3%;
  bottom: 3%;
  background-color: transparent;
  border: 19px solid rgba(255, 255, 255, 0.7);

  border-radius: 50%;
}

/* .w-covered.white img#k1-b,
.b-covered.white img#k1-w {
  box-shadow: inset 0px 0px 25px 15px rgba(255, 255, 255, 0.7);
}
.b-covered.black img#k1-w,
.w-covered.black img#k1-b {
  box-shadow: inset 0px 0px 25px 15px rgba(0, 0, 0, 0.5);
} */

/* .w-covered {
  background-color: #ffee009a;
} */
/* .in-check::after {
  content: '';
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.6);
} */

/* .interposed {
  background-color: #ffee009a;
} */

/* .ignorable {
  border: 5px solid #000;
} */
/* .w-en-passant, .b-en-passant {
  border: 5px solid #000;
} */

.choose-piece-b,
.choose-piece-w {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00000050;
  border: 1px solid #000;
  z-index: 3;
  display: none;
  backdrop-filter: blur(3px);
}

.choose-piece-b img:hover,
.choose-piece-w img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;

}

.tilt {
  transform: rotate(-135deg);
}

.fade {
  filter: saturate(0) opacity(0.5);

}

#win-status {
  width: 100%;
  /* height: 100%; */
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 4em; */
  z-index: 30;
  font-size: 3em;
  /* height: 10%; */
  /* font-family: serif; */
  background-color: var(--board-dark-square);
  color: var(--board-light-square);
  /* border-radius: 40px; */
  display: none;
}