:root {
  /* --board-light-square: #ebecd0; */
  --board-light-square: tan;
  /* --board-dark-square: #779556; */
  /* --board-dark-square: #586e40; */
  --board-dark-square: #635147;
  --board-border: #b2b2b2;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

* {
  box-sizing: border-box;
}

#coord {
  font-size: .5em;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-sizing: border-box;
  /* border: 10px solid; */
  height: 700px;
  width: 700px;
  aspect-ratio: 1;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
  /* filter: saturate(0); */
}

.square {
  height: 100%;
  aspect-ratio: 1;
  border: 1px solid #000;
  border: none;
  display: flex;
  align-items: flex-end;
  position: relative;
  font-size: .6em;
}

.square img {
  position: absolute;
  /* margin: auto; */
  width: 100%;
  height: 100%;
  z-index: 1;
}

.white {
  background-color: var(--board-light-square);
}

.black {
  background-color: var(--board-dark-square);
}
#player {
  font-size: 1.5em;
}

.highlight::after {
  content: '';
  position: absolute;
  
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: #00000050;
  border-radius: 50%;
}
.highlight:has(img)::after {
  content: '';
  position: absolute;
  
  top: 3%;
  left: 3%;
  right: 3%;
  bottom: 3%;
  background-color: transparent;
  border: 8px solid #00000075;
  border-radius: 50%;
}
.active::after {
  content: '';
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #88604a;
}
.w-covered.black:has(img#k1-b)::before, .b-covered.black:has(img#k1-w)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.6);
  /* border: 2px solid red; */
}
.w-covered.white:has(img#k1-b)::before, .b-covered.white:has(img#k1-w)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.6);
  /* border: 2px solid red; */
}
/* .in-check::after {
  content: '';
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.6);
} */

.interposed {
  background-color: #ffee009a;
}

/* .ignorable {
  border: 5px solid #000;
} */
/* .w-en-passant, .b-en-passant {
  border: 5px solid #000;
} */

.choose-piece-b, .choose-piece-w {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00000050;
  border: 1px solid #000;
  z-index: 2;
  display: none;
  backdrop-filter: blur(3px);
}

.choose-piece-b img:hover, .choose-piece-w img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;

}
