:root {
  /* --board-light-square: #ebecd0; */
  --board-light-square: #D3D7E3;
  /* --board-dark-square: #779556; */
  /* --board-dark-square: #586e40; */
  --board-dark-square: #494B5A;
  --board-border: #b2b2b2;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

* {
  box-sizing: border-box;
}

#coord {
  font-size: .5em;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-sizing: border-box;
  border: 10px solid #c0c0c0;
  height: 700px;
  width: 700px;
  aspect-ratio: 1;
  overflow: auto;
  scrollbar-width: none;
}

.square {
  height: 100%;
  aspect-ratio: 1;
  border: 1px solid #000;
  border: none;
  display: flex;
  align-items: flex-end;
  position: relative;
  font-size: .6em;
}

.square img {
  position: absolute;
  /* margin: auto; */
  width: 100%;
  height: 100%;
  z-index: 1;
}

.white {
  background-color: var(--board-light-square);
}

.black {
  background-color: var(--board-dark-square);
}
#player {
  font-size: 3.5em;
}

.highlight::after {
  content: '';
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0026ff67;
  background-color: rgba(0, 128, 128, 0.5);
  /* border-radius: 50%; */
}
.active::after {
  content: '';
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0026ff67;
}
.w-covered:has(img#k1-b)::before, .b-covered:has(img#k1-w)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.6);
  /* border: 2px solid red; */
}
.w-covered.white:has(img#k1-b)::before, .b-covered.white:has(img#k1-w)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.6);
  /* border: 2px solid red; */
}

.interposed {
  background-color: #ffee009c;
}

.ignorable {
  border: 5px solid #000;
}
